<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Filter Fun</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  <script src="./javascripts/jquery.min.js"></script>
  <script src="./javascripts/bootstrap.min.js"></script>
  <script src="./javascripts/index.js"></script>
  <link rel="shortcut icon" type="image/png" href="./images/favicon.ico" />
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/help">Support</a>
    <a href="/policy" class="active">Policy</a>
    <a href="javascript:void(0);" class="icon" onclick="mobileSwitch()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div style="padding:16px">
    <h2>Privacy Policy</h2>
    <hr />
    <div>
      <p> Luvai Hassanali built the Filter Fun app as a Commercial app. This SERVICE is provided by Luvai Hassanali and
        is intended for use as is. </p>
      <p> This page is used to inform visitors regarding my policies with the collection, use, and disclosure of
        Personal Information if anyone decided to use my service. </p>
      <p> The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
        accessible at Filter Fun unless otherwise defined in this Privacy Policy. </p>
      <p><strong>Information Collection and Use</strong></p>
      <p> While using my service, I do NOT require you to provide me with certain personally
        identifiable information. Any information (permissions) that I request will be retained on your device and is
        not collected by
        me in any way. </p>
      <p> The app does NOT use third party services that may collect information used to identify you. </p>
      <div>

      </div>
      <p><strong>Log Data</strong></p>
      <p> I want to inform you that whenever you use my service, in a case of an error, I do NOT collect data and
        information (through third party products or otherwise) on your phone. This means troubleshooting and support
        will be limited.</p>
      <p><strong>Cookies</strong></p>
      <p> Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These
        are sent to your browser from the websites that you visit and are stored on your device's internal memory. </p>
      <p> This service does NOT use these “cookies” explicitly.</p>
      <p><strong>Service Providers</strong></p>
      <p> I may employ third-party companies and individuals due to the following reasons: </p>
      <ul>
        <li>To facilitate our service;</li>
        <li>To provide the service on our behalf;</li>
        <li>To perform service-related services; or</li>
        <li>To assist us in analyzing how our service is used.</li>
      </ul>
      <p> I want to inform users of this Service that these third parties do NOT have access to your personal
        Information. </p>
      <p><strong>Security</strong></p>
      <p> This application does NOT connect to the internet. There are no identifiable risks posed to your security
        whilst using this application. </p>
      <p><strong>Links to Other Sites</strong></p>
      <p> This service may contain links to other sites. If you click on a third-party link, you will be directed to
        that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the
        Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy
        policies, or practices of any third-party sites or services. </p>
      <p><strong>Changes to This Privacy Policy</strong></p>
      <p> I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for
        any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are
        effective immediately after they are posted on this page. </p>
      <p><strong>Contact Information</strong></p>
      <p> If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at
        luvaihassanali@gmail.com. </p>
      <p> This privacy policy page was created at <a href="https://privacypolicytemplate.net"
          target="_blank">privacypolicytemplate.net</a>, generated by <a
          href="https://app-privacy-policy-generator.firebaseapp.com/" target="_blank">App Privacy Policy Generator</a>,
        and modified by Luvai Hassnali.
      </p>
    </div>
  </div>
</body>
</div>

</html>