<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Filter Fun - Support Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Support page for Filter Fun detailing phone compatibility for application.">
  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css" type="text/css">
  <link rel="shortcut icon" type="image/png" href="./favicon.ico" />
  <style  nonce="2726c7f26d">
    body {
      font-family: 'Tahoma', Geneva, sans-serif;
      margin: 0;
      background-color: #fcfcfc;
      color: #000 !important;
    }

      .pad {
         padding-right: 16px; 
         padding-left:16px;
      }
      .yes {
        color: transparent;
        text-shadow: 0 0 0 rgb(0, 128, 0);
      }
      .no {
        color: transparent; 
        text-shadow: 0 0 0 rgb(128, 0, 0);
      }
     .greycolor {
      color:#808080;
     }
    p {
      font-size: 1.5vw
    }

    h1 {
      font-size: 3vw;
    }
    h2 {
      font-size: 2vw;
    }

    li {
      font-size: 1.5vw;
    }

    table {
      font-size: 1vw;
    }

    th {
      font-weight: normal;
    }

    i {
      font-size: 1.5vw;
    }

    form {
      font-size: 1.5vw;
    }

    caption {
      color: #000;
    }

    ::-webkit-input-placeholder {
      /* Edge */
      font-size: 1vw;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 1vw;
    }

    ::placeholder {
      font-size: 1vw;
    }

    .topnav {
      overflow: hidden;
      background-color: #2E95FC;
    }

    .topnav a {
      float: left;
      display: block;
      color: #fcfcfc;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.5vw;
      font-family: 'Tahoma', Geneva, sans-serif;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #3289FD;
      color: white;
    }

    .topnav .icon {
      display: none;
    }
    @font-face {
      font-family: 'FontAwesome';
      src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
      src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .fa-bars:before {
      content: "\f0c9";
    }
    @media screen and (max-width: 600px) {

      .topnav a:not(:first-child) {
        display: none;
      }

      .topnav a:first-child {
        font-size: 5vw;
      }

      .topnav a.icon {
        float: right;
        display: block;
        font-size: 5vw;
      }

      .topnav.responsive {
        position: relative;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 5vw;
      }

      p {
        font-size: 5vw;
      }

      h1 {
        font-size: 8vw;
      }
      h2 {
        font-size: 7vw;
      }
      li {
        font-size: 5vw;
      }

      table {
        font-size: 5vw;
      }

      i {
        font-size: 5vw;
      }

      form {
        font-size: 5vw;
      }

      ::-webkit-input-placeholder {
        /* Edge */
        font-size: 4vw;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 4w;
      }

      ::placeholder {
        font-size: 4vw;
      }
    }
  </style>
</head>

<body>
 
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/support" class="active">Support</a>
    <a href="/policy">Policy</a>
    <a id="mobileicon" class="icon">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 
  <div class="pad">
    <h1>Support</h1>
    <hr>
    <p>Read the opening message carefully to understand application's limitations. The removal/distortion of audio in
      videos is hardware based. Tests on all iPhone versions reveal that Static Effect
      and Comic Effect filters removes audio completely. Testing on older phones such as the SE reveal that the app
      cannot record audio using the Main Camera, but can while on the Selfie Camera. Additionally, there is some lag
      experienced on older phones while changing filter or switching orientation while recording.
    </p>
    <p><strong>Refer to the tables below for sound output testing details.</strong> All models cannot take still
      pictures while on Static Filter as the result is just a white image. Video writing is done in 720p HD (1280x720)
      resolution and photo quality outputs lower than usual due to internal methods required for applying
      filters. The application uses resources heavily and will <a href="#warning">trigger warnings</a> when phone system
      pressure is elevated (heat is indicator). Heed the warnings; I am not responsible for any damages. More
      information can be found here at <a
        href="https://developer.apple.com/documentation/avfoundation/avcapturedevice/systempressurestate"
        target="_blank">Apple's developer documentation</a>.
    </p>
    <p>
      For all versions:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• Results will vary depending on phone status (number of apps open, running time, etc.)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• No audio when recording with either Comic Effect or Static Effect filters<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• Cannot take still pictures while on Static Effect<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• Kaleidoscope and Bump Distortion filter may not be centered on iPhones (8 and lower) with screens smaller or iPads
      <hr>
      <form id="myform">
        <label for="emailForm">Email address:</label>
        <input id="emailForm" class="form-control" type="email" placeholder="Enter valid email address" required />
        <br>
        <label for="subjectLine">Subject:</label>
        <input id="subjectLine" class="form-control" type="text" placeholder="Subject line" required />
        <br>
        <label for="messageBody">Message:</label>
        <textarea height="500px" required id="messageBody" class="form-control"
          placeholder="Leave a comment, complaint, bug, etc."></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
        <br>
      </form>
      <hr>
      <h2>Sound Output Details (in progress)</h2><br>
      <i class="greycolor">Swipe chart on mobile</i>
    </p>
      <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
      <caption><p><strong>iPad Air 2</strong></p></caption>
        <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
      <caption><p><strong>XS</strong></p></caption>
        <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
          </tr>
        </tbody>
      </table>
    </div>
    
   <!-- <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed"> 
      <caption><p><strong>8 Plus</strong> (inconclusive)</p></caption>
  <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
          </tr>
        </tbody>
      </table>
    </div>-->
    
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
      <caption><p><strong>8</strong></p></caption>
  <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <caption><p><strong>6S</strong></p></caption>
        <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <caption><p><strong>SE</strong></p></caption>
        <tbody>
          <tr>
            <th>Filter</th>
            <td>Off</td>
            <td>Noir</td>
            <td>Comic Effect</td>
            <td>Sephia Tone</td>
            <td>Rose Effect</td>
            <td>Invert</td>
            <td>Color Map</td>
            <td>Ray Gun</td>
            <td>Feeling Blue</td>
            <td>Under the Sea</td>
            <td>Thermal</td>
            <td>X-Ray</td>
            <td>Mono Color</td>
            <td>Pixellate</td>
            <td>H. Pixellate</td>
            <td>Posterize</td>
            <td>B. Distortion</td>
            <td>Static Effect</td>
            <td>Neon Edges</td>
            <td>Gamma Effect</td>
            <td>Temp.</td>
            <td>Exposure</td>
            <td>Hue Control</td>
            <td>Kaleidoscope</td>
            <td>Ghost</td>
          </tr>
          <tr>
            <th>Main Camera</th>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
            <td class = "no">✖</td>
          </tr>
          <tr>
            <th>Selfie Camera</th>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "no">✖</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
            <td class = "yes">✔</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <h2 id="warning">System Pressure Warning</h2><br>
      <picture>
        <source srcset="/images/warning/warning798.jpg" media="(min-width: 2400px)" />
        <source srcset="/images/warning/warning453.jpg" media="(min-width: 1200px)" />
        <source srcset="/images/warning/warning380.jpg" media="(min-width: 400px)" />
        <source srcset="/images/warning/warning343.jpg" media="(min-width: 330px)" />
        <img alt="Warning" src="/images/warning/warning285.jpg" />
      </picture>
      <br><br>
      <footer id="footer">
        <p>© 2019 Luvai Hassanali</p>
      </footer>
  </div>
  <script src="./javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="./javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="./javascripts/index.js" type="text/javascript"></script>
</body>

</html>
